@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-foreground: 0 0% 0%;
    --background: 175 30% 98%;
    --foreground: 175 59% 4%;
    --muted: 145 20% 95%;
    --muted-foreground: 145 15% 37%;
    --popover: 175 30% 97%;
    --popover-foreground: 175 59% 3%;
    --card: 175 30% 97%;
    --card-foreground: 175 59% 3%;
    --border: 175 4% 90%;
    --input: 175 4% 90%;
    --primary: 175 91% 12%;
    --primary-foreground: 159 100% 50%;
    --secondary: 145 91% 12%;
    --secondary-foreground: 145 91% 52%;
    --accent: 175 91% 12%;
    --accent-foreground: 159 100% 50%;
    --destructive: 19 92% 33%;
    --destructive-foreground: 0 0% 100%;
    --ring: 175 91% 12%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 159 65% 4%;
    --foreground: 159 10% 97.5%;

    --muted: 159 50% 15%;
    --muted-foreground: 159 10% 55%;

    --popover: 159 45% 6.5%;
    --popover-foreground: 159 10% 97.5%;

    --card: 159 45% 6.5%;
    --card-foreground: 159 10% 97.5%;

    --border: 159 50% 15%;
    --input: 159 50% 15%;

    --primary: 159 100% 50%;
    --primary-foreground: 159 10% 5%;

    --secondary: 159 50% 15%;
    --secondary-foreground: 159 10% 97.5%;

    --accent: 159 50% 15%;
    --accent-foreground: 159 10% 97.5%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 159 10% 97.5%;

    --ring: 159 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-mono;
  }
}
