@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-foreground: 0 0% 0%;
    --background: 175 30% 98%;
    --foreground: 175 59% 4%;
    --muted: 145 20% 95%;
    --muted-foreground: 145 15% 37%;
    --popover: 175 30% 97%;
    --popover-foreground: 175 59% 3%;
    --card: 175 30% 97%;
    --card-foreground: 175 59% 3%;
    --border: 175 4% 90%;
    --input: 175 4% 90%;
    --primary: 175 91% 12%;
    --primary-foreground: 159 100% 50%;
    --secondary: 145 91% 12%;
    --secondary-foreground: 145 91% 52%;
    --accent: 175 91% 12%;
    --accent-foreground: 159 100% 50%;
    --destructive: 19 92% 33%;
    --destructive-foreground: 0 0% 100%;
    --ring: 175 91% 12%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 159 65% 4%;
    --foreground: 159 10% 97.5%;

    --muted: 159 50% 15%;
    --muted-foreground: 159 10% 55%;

    --popover: 159 45% 6.5%;
    --popover-foreground: 159 10% 97.5%;

    --card: 159 45% 6.5%;
    --card-foreground: 159 10% 97.5%;

    --border: 159 50% 15%;
    --input: 159 50% 15%;

    --primary: 159 100% 50%;
    --primary-foreground: 159 10% 5%;

    --secondary: 159 50% 15%;
    --secondary-foreground: 159 10% 97.5%;

    --accent: 159 50% 15%;
    --accent-foreground: 159 10% 97.5%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 159 10% 97.5%;

    --ring: 159 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-mono;
  }
}

.rdg {
  --rdg-color: hsl(var(--foreground));
  --rdg-border-color: hsl(var(--border));
  --rdg-summary-border-color: hsl(var(--border));
  --rdg-background-color: hsl(var(--primary-background));
  --rdg-header-background-color: hsl(var(--background));
  --rdg-header-draggable-background-color: hsl(var(--background));
  --rdg-row-hover-background-color: hsl(var(--muted));
  --rdg-row-selected-background-color: hsl(var(--muted));
  --rdg-row-selected-hover-background-color: hsl(var(--muted));
  --rdg-checkbox-color: hsl(207deg 100% 29%);
  --rdg-checkbox-focus-color: hsl(207deg 100% 69%);
  --rdg-checkbox-disabled-border-color: #ccc;
  --rdg-checkbox-disabled-background-color: #ddd;

  --rdg-selection-color: hsl(var(--ring));
  --rdg-font-size: 13px;
  --rdg-cell-frozen-box-shadow: calc(2px * var(--rdg-sign)) 0 5px -2px rgba(136, 136, 136, 0.3);
}

.rdg-header-row > .rdg-cell {
  border: 1px solid hsl(var(--border));
}

.rdg-cell[aria-selected="true"] {
  box-shadow: inset 0 0 0 1px var(--rdg-selection-color);
  outline: 2px solid var(--rdg-selection-color);
}
